// history.scss
@import "_common.scss";


$laptop : 1100px;

.mayor-banner{
    background: url("../img/history/page3/header_banner.png") 0 0 / cover no-repeat;
};
.seoul-banner{
    background: url("../img/history/page3/history_3.jpg") 0 0 / cover no-repeat;
};


.mayor-line{
    border: 1px solid #d9d9d9;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 50%; top: 9%;
    transform: translateX(-50%);
}
.active{
    background-color: #d9d9d9;
    color: white;
    &::before{
        content: "<";
        margin-right: 5px;
        @include res($mobile){
            display: none;
        }
    }
}

main{
    // width: 60%;
    margin: 0 auto;
    .his-sub-sct1{
        .sub-sct1-bundle{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 150px;
            @include res($laptop){
                flex-direction: column-reverse;
                .sub-sct-img-box{
                    display: flex;
                }
            }
            .sub-sct1_text-box{ 
                width: 42%;
                @include res($laptop){
                    width: 100%;
                }
                h2{
                    font-size: 1.5rem;
                    font-weight: bold;
                    padding-bottom: 10px;
                }
            }
            .sub-sct-img-box{
                >div{
                    position: relative;
                    width: 100%; height: 100%;
                    &:nth-child(1){
                        margin-bottom: 20px;
                    }
                    &:hover .img-text-box{
                        opacity: 1;
                    }
                    img{
                        width: 100%; height: 100%;
                    }
                    .img-text-box{
                        position: absolute;
                        top: 50%; left: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        transform: translate(-50%,-50%);
                        color: #ffffff;
                        text-align: center;
                        background-color: rgb(0, 0, 0, 50%);
                        width: 100%; height: 100%;
                        opacity: 0;
                        transition: all ease 0.3s;
                        h3{
                            color: #ffffff;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .his-sub-sct2{
        h2{
            text-align: end;
            margin-top: 20px;
        }
        article{
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            @include res($tablet){
                flex-direction: column;
            }
            .sub-history-img-box{
                width: 50vw; height: 22vw;
                position: relative;
                @include res($tablet){
                    width: 100%;
                }
                .sub-history-img-btn{
                    position: absolute;
                    top: 50%; 
                    content: '';
                    width: 30px; /* 사이즈 */
                    height: 30px; /* 사이즈 */
                    border-top: 5px solid #d9d9d9; /* 선 두께 */
                    border-right: 5px solid #d9d9d9; /* 선 두께 */
                    &:hover{
                        border-top: 5px solid black;
                        border-right: 5px solid black;
                    }
                }
                .next{
                    transform: rotate(45deg);
                    right: 5%;
                    
                }
                .prev{
                    transform: rotate(225deg);
                    left: 5%;
                }
                img{
                    width: 100%; height: 100%;
                } 
            }
            .sub-history-list{
                @include res($tablet){
                    display: flex;
                }
                .sub-history-list-li{
                    background-color: #d9d9d9;
                        color: white;
                        &::before{
                            content: "<";
                            margin-right: 10px;
                        }
                        @include res($tablet){
                            &::before{
                                display: none;
                            }
                        }
                }
                li{
                    height: 40px;
                    width: 7vw;
                    @include res($laptop){
                        width: 100%;
                    }
                    border-top: 1px solid black;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @include res($tablet){
                        border: 1px solid black;
                        justify-content: center;
                    }
                    &:nth-last-child(1){
                        border-bottom: 1px solid black;
                        // @include res($tablet){
                        //     border: none;
                        // }
                    }
                    // &:hover{
                    //     background-color: #d9d9d9;
                    //     color: white;
                    //     &::before{
                    //         content: "<";
                    //         margin-right: 10px;
                    //     }
                    // }
                }
            }
        }
        .sub-history-text-box{
            width: 50vw;
            h3{
                font-size: 1.5rem;
                margin: 40px 0;
            }
            p{
                // height: 230px;
            }
        }
    }


    .mayor-sct{
        // width: 50%;
        margin: 50px 0;
        display: flex;
        flex-direction: row-reverse;
        @include res($tablet){
            flex-direction: row;
        }
        &:nth-child(odd){
            flex-direction: row;
            .mayor-bundle{
                flex-direction: row-reverse;
                @include res($laptop){
                    flex-direction: column-reverse;
                }
                @include res($tablet){
                    flex-direction: row-reverse;
                }
                .mayor-text-box{
                    text-align: start;
                }
            }
        }
        .mayor-bundle{
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid #d9d9d9;
            padding-bottom: 21px;
            // width: 45%;
            @include res($laptop){
                flex-direction: column-reverse;
            }
            @include res($tablet){
                flex-direction: row-reverse;
            }
            .mayor-text-box{
                width: 20vw;
                @include res($tablet){
                    width: 100%;
                    text-align: left;
                }
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: end;
                margin: 0 20px;
                .mayor-info{
                    .mayor-name{
                        font-size: 1.5rem;
                    }
                }
                .mayor-policy{
                        margin-top: 20px;
                }
            }
            .mayor-img-box{
                width: 190px; height: 20vh;
                @include res($laptop){
                    width: 25vw;
                }
                @include res($tablet){
                    width: 250px;
                }
                img{
                    width: 100%; height: 100%;
                }
            }
        }
    }
}

