// index.scss
@import url("reset.css");

$mobile : 480px;
$tablet : 768px;
body{height:5000px;}
// main{position:fixed; left:0; top:0; width:100%;}

@mixin res($n){
    @media (max-width:$n) {
        @content;
    }
};

aside{
    position: fixed;
    border-radius: 50%;
    width: 53px; height: 53px;
    background-color: #d9d9d9;
    bottom: 40px; right: 40px;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 99;
    &:hover{
        background-color: black;
        img{
                filter: invert(100%);
        }
    }
    img{
        width: 60%; height: 60%;
        position: absolute;
        top: 20%; left: 18%;
        transition: all ease 0.5s;
        
    }
}
.nohide{
    opacity: 1;
}

header{
        position: fixed;
        // border: 1px solid black;
        width: 100%;
        z-index: 99;
    .index-head-bundle{
        width: 80%;
        margin: 0 auto;
        .header-menu-wrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 8vw;
            h1{
                img{
                    height: 57px; width: 53px;
                }
            }
            .header-menu-item{
                display: flex;
                align-items: center;

                a{
                    color: #ffffff;
                    padding: 0 3vw;
                    &:hover{
                        color: #0181c9;
                    }
                }
                .header-search{
                    position: relative;
                    border: 1px solid #ffffff;
                    border-radius: 50px;
                    height: 40px;
                    padding: 0 5px;
                    display: flex;
                    #header-search-input{
                        border: none;
                        background-color:transparent;
                        text-align: left;
                        border:none;
                        outline: none;
                        color: #ffffff;
                        // height: 30px;
                    }
                    button{
                        
                    }
                }
            }
        }
    }
}

.sct1{
    width: 100%;
    height: 100vh;
    background: url(../../img/index/index_1.jpg);
    background-size: cover;
    position: relative;
    .sct1-title-box{
        position: absolute;
        left: 54%;
        top: 35%;
        transform: translate(-50%,-50%);
        display: flex;
        p{
            color: #ffffff;
            font-size: 5rem;
            font-weight: bold;
            &:nth-child(2){
                transform: translateY(40%);
                font-weight: normal;
                margin-left: 20px;
            }
        }
    }
    .sct1-line{
        position: absolute;
        top: 40%; left: 0;
        width: 51.4%;
        border: 2px solid #ffffff;
    }
}
.sct2{
    width: 100%; height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    h2{
        color: #ffffff;
        position: absolute;
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        top: 40%; left: 33%;
        z-index: 99;
    }
    .swiper {
        .swiper-wrapper{
            
            .swiper-slide{
                // height: 53.7vh;
                // line-height: 53.7vh;
                text-align: center;
                margin: 0 10px;
                img{
                    width: 100%; height: 100%;
                }
            }
        }
      }
}

.sct3{
    background-image: url(../../img/index/index_5.jpg);
    background-size: cover;
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;
    // .sct3-background-img{
    //     // width: 100%; height: 100vh;
    //     position: absolute;
    //     top: 0; bottom: 0;
    //     // right: -200%; left: -200%;
    //     img{width: 100%; height: 100%; display: block;}
    // }
    h2{
        position: absolute;
        color: #ffffff;
        font-size: 4rem; font-weight: bold;
        bottom: 10%; left: 53%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}

.sct4{
    font-size: 4rem;
    height: 100vh;
    .sct4-text-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80%; height: 80%;
        margin: 0 auto;
        margin-top: 10vw;
        p{
            font-weight: bold;
            color: #f1f1f1;
            text-align: justify;
        }
        .blank{
            .text-wrpper{
                #text{
                    font-weight: bold;
                    color: #f1f1f1;
                }
            }
        }
        h3{
            font-weight: bold;
            color: #f1f1f1;
        }
        h2{
            font-weight: bold;
        }
        .sct4-text-right{
            text-align: end;
        }
    }
}

.sct5{
    background: url(../../img/index/index_6.jpg) center;
    background-size:cover;
    width: 100%; height: 100vh;
    position: relative;
    h2{
        position: absolute;
        color: #ffffff;
        font-size: 4rem;
        bottom: 30%; left: 63%;
        transform: translate(-50%,-50%);
    }
    .sct5-line{
        position: absolute;
        right: 0; top: 58.3%;
        border: 1px solid #ffffff;
        width: 30%;
    }
}

footer{
    .footer-inner{
        width: 80%;
        margin: 0 auto;
        padding: 53px 0;
        display: flex;
        justify-content: space-between;
        
    }
    li{
        color: white;
    }
    .footer-black-wrap{
        background-color: #000;
        address{
            .address-item-bundle{
                display: flex;
                justify-content: space-around;
               .address-item-menu{
                margin-right: 5vw;
                flex-shrink: 0;
                    a{
                        color: white;
                        font-style: normal;
                    }
                    .address-item-title{
                        font-weight: bold;
                    }
                    div{
                        margin-top: 30px;
                        ul{
                            li{
                                padding-bottom: 17px;
                                font-style: normal;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
    .footer-s{
        // display: flex;
        color: white;
        width: 50%;
        ul{
            // display: flex;
            text-align: end;
            li{
                display: flex;
                justify-content: flex-end;
                padding-bottom: 10px;
                .footer-line{
                    border: 1px solid #999999;
                    height: 12px; width: 0;
                    transform: translateY(40%);
                    margin: 0 7px;
                }
                p{
                    color: #999999;
                }
                
            }
        }
    }
    .footer-white-wrap{
        h2{
            width: 139px;
            img{
               width: 100%; 
            }
        }
        .footer-white-line{
            border-bottom: 1px solid black;
            padding-bottom: 20px;
        }
        .footer-sub-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            nav{
                a{
                    margin-right: 38px;
                }
            }
        }
        .footer-white-wrap-icon-box{
            display: flex;
            li{
                width: 33px;
                padding-right: 9px;
                img{
                    width: 100%;
                }
            }
        }
        .footer-sub-address{
            p{
                color: #999999;
            }
        }
        .test{
            justify-content: flex-end;
            text-align: right;
        }
    }
}