// inlaw.scss
@import "_common.scss";

body {
    @media (max-width:1350px) {
        font-size: 14px;
    }

    @media (max-width:1000px) {
        font-size: 12px;
    }
    
    @media (max-width:480px) {
        font-size: 10px;
    }
    
    main {
        width: 60%;
        margin: auto;
        @media (max-width:768px) {
            width: 90%;
        }
        .history {
            margin: 157px auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width:1000px) {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                margin: 80px auto;
            }

            >article {
                width: 50%;
                padding-right: 30px;

                @media (max-width:1000px) {
                    width: 100%;
                    padding-right: 0;
                    margin-top: 30px;
                }

                @media (max-width:480px) {
                    width: 60%;
                }

                .human-city {
                    font-size: 24px;
                    font-weight: bold;
                    padding-bottom: 20px;

                    @media (max-width:1350px) {
                        font-size: 22px;
                    }

                    @media (max-width:1000px) {
                        font-size: 18px;
                        text-align: center;
                    }

                    @media (max-width:480px) {
                        font-size: 16px;
                    }
                }

                >div {
                    word-break: keep-all;
                    text-overflow: ellipsis;
                    overflow: hidden;

                    @media (max-width:1000px) {
                        text-align: center;
                    }

                    >p {
                        padding-bottom: 20px;
                    }
                }
            }

            >div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (max-width:1000px) {
                    width: 100%;
                }

                >figure {
                    width: 100%;
                    position: relative;
                    margin-bottom: 20px;

                    >img {
                        width: 100%;
                    }

                    >figcaption {
                        background-color: rgba(0, 0, 0, 0.50);
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;

                        p:nth-child(1) {
                            color: white;
                            font-weight: 500;
                        }

                        p:nth-child(3) {
                            color: white;
                            font-weight: 600;
                        }
                    }

                    &:hover figcaption {
                        display: flex;
                    }
                }
            }
        }

        .logo {
            margin-bottom: 100px;

            .line {
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #d9d9d9;
            }

            .sub-title {
                display: flex;
                justify-content: flex-end;
                padding-bottom: 65px;
            }

            >div {
                >figure {
                    >img {
                        border: 1px solid #ddd;
                        width: 100%;
                    }

                    >figcaption {
                        text-align: center;
                        padding-top: 30px;

                        @media (max-width:1030px) {
                            word-break: keep-all;
                            width: 70%;
                            margin: 0 auto;
                        }

                        @media (max-width:480px) {
                            width: 60%;
                        }
                    }
                }
            }
        }

        .color_code {
            width: 100%;

            .line {
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #d9d9d9;
            }

            .sub-title {
                display: flex;
                justify-content: flex-end;
                padding-bottom: 65px;
            }

            .outer-box {
                width: 100%;
                display: flex;
                justify-content: space-between;

                @media (max-width:480px) {
                    flex-direction: column;
                }

                >div {
                    width: 30%;
                    border: 1px solid #ddd;
                    display: flex;
                    justify-content: center;
                    padding: 35px 20px;
                    text-align: center;
                    transition: 0.5s;

                    @media (max-width:1722px) {
                        width: 32%;
                    }

                    @media (max-width:1448px) {
                        padding: 20px 10px;
                    }

                    @media (max-width:1208px) {
                        width: 33%;
                        padding: 10px 5px;
                    }

                    @media (max-width:1035px) {
                        flex-direction: column;
                        padding: 10px 0;
                    }

                    @media (max-width:768px) {
                        color: white;

                        p {
                            color: white;
                        }
                    }

                    @media (max-width:480px) {
                        flex-direction: row;
                        width: 50%;
                        margin: 20px auto;
                    }

                    &:nth-child(1) {
                        @media (max-width:768px) {
                            background-color: #AE1932;
                        }
                    }

                    &:nth-child(2) {
                        @media (max-width:768px) {
                            background-color: #0079BC;
                        }
                    }

                    &:nth-child(3) {
                        @media (max-width:768px) {
                            background-color: #2E853C;
                        }
                    }

                    >div {
                        >div {
                            >p {
                                padding: 15px;
                                transition: 0.5s;

                                @media (max-width:1614px) {
                                    padding: 7px;
                                }
                            }
                        }
                    }
                }

                .active02 {
                    color: white;

                    p {
                        color: white;
                    }
                }

                .active02:nth-of-type(1) {
                    background-color: #AE1932;
                }

                .active02:nth-of-type(2) {
                    background-color: #0079BC;
                }

                .active02:nth-of-type(3) {
                    background-color: #2E853C;
                }
            }

            .color_click {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                margin-bottom: 120px;
                text-align: center;

                >div {
                    width: 30%;

                    >span {
                        display: inline-block;
                        height: 24px;
                        background-color: #AE1932;
                        border-radius: 100px;
                        padding: 0 30px;

                        @media (max-width:1350px) {
                            padding: 0 25px;
                        }

                        @media (max-width:1000px) {
                            height: 15px;
                            padding: 0 20px;
                        }

                        @media (max-width:768px) {
                            display: none;
                        }
                    }
                }

                .red {
                    background-color: #AE1932;
                }

                .blue {
                    background-color: #0079BC;
                }

                .green {
                    background-color: #2E853C;
                }
            }
        }

        .info_table {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: self-start;
            text-align: center;
            margin: 100px auto;

            .info {
                width: 30%;
                word-break: keep-all;

                @media (max-width:1350px) {
                    width: 32%;
                }

                @media (max-width:768px) {
                    width: 30%;
                }

                @media (max-width:526px) {
                    width: 33%;
                }

                @media (max-width:480px) {
                    width: 30%;
                }

                >b {
                    font-weight: 500;
                    display: inline-block;
                    font-size: 1.25rem;
                    margin: 30px auto;

                    @media (max-width:1350px) {
                        font-size: 18px;
                    }

                    @media (max-width:1000px) {
                        font-size: 16px;
                        margin: 20px auto;
                    }

                    @media (max-width:1000px) {
                        font-size: 16px;
                    }

                    @media (max-width:526px) {
                        font-size: 14px;
                    }
                }
            }

            .line02 {
                border-left: 1px solid #d9d9d9;
                height: 242px;
            }
        }

        .seoul_design {
            width: 100%;
            margin-bottom: 100px;

            .line {
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #d9d9d9;
            }

            >p {
                display: flex;
                justify-content: flex-end;
                padding-bottom: 80px;
            }

            .seoul_box {
                width: 100%;
                border: 2px solid #ddd;
                background-color: #eee;
                border-radius: 10px;
                padding: 60px 70px;

                @media (max-width:1283px) {
                    padding: 50px 50px;
                }

                @media (max-width:520px) {
                    padding: 40px 30px;
                }

                .seoul_brand {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    >figure {
                        width: 23%;
                        border: 1px solid #ddd;

                        >img {
                            width: 100%;
                        }
                    }
                }

                .seoul_col {
                    .color_col {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-top: 70px;

                        .color01 {
                            display: flex;
                            width: 45%;
                            margin-bottom: 60px;

                            &::before {
                                content: '';
                                display: inline-block;
                                width: 83px;
                                height: 83px;
                                border-radius: 100px;
                                margin-right: 20px;
                                flex-shrink: 0;

                                @media (max-width:847px) {
                                    width: 65px;
                                    height: 65px;
                                }

                                @media (max-width:520px) {
                                    width: 55px;
                                    height: 55px;
                                }

                                @media (max-width:400px) {
                                    width: 45px;
                                    height: 45px;
                                    margin-right: 10px;
                                }
                            }

                            &:nth-of-type(1)::before {
                                background-color: #00D778;
                            }

                            &:nth-of-type(2)::before {
                                background-color: #0082FF;
                            }

                            &:nth-of-type(3)::before {
                                background-color: #FF0A73;
                            }

                            &:nth-of-type(4)::before {
                                background-color: #FABF13;
                            }

                            .color02 {
                                width: 100%;

                                >div {
                                    >p {
                                        margin-bottom: 20px;
                                    }

                                    >div {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-between;
                                        align-items: start;

                                        .color-a {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            align-items: start;

                                            >span {
                                                color: #555;
                                                font-weight: 300;
                                                font-size: 12px;

                                                @media (max-width:1350px) {
                                                    font-size: 10px;
                                                }

                                                @media (max-width:1000px) {
                                                    font-size: 8px;
                                                }

                                                @media (max-width:480px) {
                                                    font-size: 6px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .seoul_text {
                    >p {
                        text-align: center;
                        margin: 20px auto;
                    }
                }
            }
        }

        .pictogram {
            margin-bottom: 150px;

            .line {
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #d9d9d9;
            }

            >p {
                display: flex;
                justify-content: flex-end;
                padding-bottom: 65px;
            }

            .pictoall {
                .pictobox {
                    display: flex;
                    margin: 15px 0;

                    .friend {
                        border: 1px solid #ddd;
                        background-color: white;
                        width: 55%;
                        display: flex;
                        align-items: center;
                        padding: 35px 55px;

                        @media (max-width:1600px) {
                            padding: 35px;
                        }

                        @media (max-width:1000px) {
                            padding: 15px;
                        }

                        >img {
                            padding-right: 30px;

                            @media (max-width:1350px) {
                                width: 30%;
                                padding-right: 20px;
                            }

                            @media (max-width:480px) {
                                padding-right: 10px;
                            }
                        }

                        >figcaption {
                            p:nth-child(3) {
                                font-size: 14px;

                                @media (max-width:1600px) {
                                    font-size: 12px;
                                }

                                @media (max-width:1350px) {
                                    font-size: 11px;
                                }

                                @media (max-width:1000px) {
                                    font-size: 10px;
                                }

                                @media (max-width:768px) {
                                    font-size: 8px;
                                }
                            }
                        }
                    }

                    .trait {
                        width: 45%;
                        display: flex;
                        align-items: center;
                        padding: 35px 55px;

                        @media (max-width:1600px) {
                            padding: 35px;
                        }

                        @media (max-width:1000px) {
                            padding: 15px;
                        }

                        >img {
                            padding-right: 30px;

                            @media (max-width:1350px) {
                                width: 25%;
                                padding-right: 20px;
                            }

                            @media (max-width:480px) {
                                padding-right: 10px;
                            }
                        }

                        >figcaption {
                            @media (max-width:1600px) {
                                font-size: 12px;
                            }

                            @media (max-width:1350px) {
                                font-size: 11px;
                            }

                            @media (max-width:1000px) {
                                font-size: 10px;
                            }

                            @media (max-width:768px) {
                                font-size: 8px;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        background-color: #FAE4ED;
                    }

                    &:nth-of-type(2) {
                        background-color: #F1ECE0;
                    }

                    &:nth-of-type(3) {
                        background-color: #E4ECF3;
                    }
                }
            }
        }

        .whole-symb {
            margin: 15% auto;
            word-break: keep-all;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;

            .line03 {
                height: 100%;
                border: 1px solid #d9d9d9;
                position: absolute;
                top: 0;
                left: 50%;
                @media (max-width:768px) {
                    border: 0.5px solid #d9d9d9;
                }
            }

            .symb {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 30%;
                position: relative;

                >figure {
                    width: 45%;

                    >img {
                        width: 100%;
                    }
                }
                
                .circ {
                    width: 45%;
                    position:relative;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 1.3vw;
                        height: 1.3vw;
                        background-color: #d9d9d9;
                        border-radius: 100%;
                        position: absolute;
                        top: 8px;
                        left: -13.3%;
                        @media (max-width:768px) {
                            left: -12.5%;
                        }
                        @media (max-width:480px) {
                            left: -12%;
                        }
                    }
                    

                    .tit {
                        padding-bottom: 20px;
                        font-size: 1.5rem;

                        @media (max-width:1350px) {
                            font-size: 22px;
                        }

                        @media (max-width:1000px) {
                            font-size: 20px;
                        }

                        @media (max-width:768px) {
                            font-size: 18px;
                        }

                        @media (max-width:480px) {
                            font-size: 16px;
                        }
                    }

                    .content {
                        @media (max-width:550px) {
                            font-size: 10px;
                        }

                        @media (max-width:480px) {
                            font-size: 8px;
                        }
                    }
                }
            }

            .symb:nth-of-type(3) {
                flex-direction: row-reverse;
                text-align: right;
                ::before {
                    left:109%;
                    @media (max-width:768px) {
                        left: 109.7%;
                    }
                }
            }

            .symb:nth-of-type(4){
                margin-bottom: 0;
            }
        }

    }
}