@import "reset.css";
body{
    // height: 10000px;
}
header{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    // position: relative;
    // transform: translateY(-100%);
    background-color: #f1f1f1;
    overflow: hidden;
    height:88px;
    transition: all ease 0.5s;
    z-index: 99;
    &:hover{
        height: 300px;
    }
    .inner{
        background-color: #fff;
        .header-bundle{
            
            width: 60%;
            margin: 0 auto;
            height: 88px;
            
            .top-wrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: absolute;
                width: calc(60% - 20px);
                max-width: 1536px;
                height: 88px;
                h1{
                    img{
                        width: 43px;
                    }
                }
            }
            .nav-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                z-index: 2;
                height: 100%;
                nav{
                    .list{
                        display: flex;
                        text-align: center;
                        .hd-menu-iteam{
                            padding: 0 3vw;
                            color: #f1f1f1;
                            display: flex;
                            justify-content: center;
                            .menu-title{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 60px;
                                z-index: 99;
                                font-weight: bold;
                                transition: 0.2s;
                                &:hover{
                                    color: #0181c9;
                                }
                            }
                            .sub-menu{
                                position: absolute;
                                display: flex;
                                
                                margin-top: 115px;
                                ul{
                                    li{
                                        padding-bottom: 25px;
                                        span{
                                            &:hover{
                                                color: #0181c9;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
    
}

.banner-img{
    // border: 1px solid black;
    width: 100%; height: 26.7vh;
    padding-top: 88px;
    background: url(../../img/history/page3/history_3.jpg) center;
    background-size: cover;
    display: flex; align-items: flex-end;
    div{
        width: 60%;
        margin: 0 auto;
        p{
            color: #fff;
            font-size: 2rem;
            text-align: end;
            margin-bottom: 45px;
        }
    }
}

aside{
    position: fixed;
    border-radius: 50%;
    width: 53px; height: 53px;
    background-color: #d9d9d9;
    bottom: 40px; right: 40px;
    opacity: 0;
    transition: all ease 0.5s;
    &:hover{
        background-color: black;
        img{
                filter: invert(100%);
        }
    }
    img{
        width: 60%; height: 60%;
        position: absolute;
        top: 20%; left: 18%;
        transition: all ease 0.5s;
        
    }
}
.nohide{
    opacity: 1;
}

section{
    width: 60%;
    margin: 0 auto;
    .intro-wrap{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 44px 0; 
        margin: 197px 0 167px 0;
        h2{
            font-size: 1.5rem;
        }
        .intro-line {
            border: 1px solid #d9d9d9;
            width: 1px; height: 86px;
        }
        .intro-text-box{
            width: 40vw;
        }
    }
}

footer{
    width: 60%;
    margin: 0 auto;
    // position: relative;
    // transform: translateY(100%);
    .ft-wrap{
        display: flex;
        flex-direction: column;

        .nav-wrap{
            display: flex;
            justify-content: space-between;
            height: 100px;
            align-items: center;
            border-bottom: 1px solid black;
            a{
                img{
                    width: 139px;
                }
            }
            >div{
                display: flex;
                align-items: center;
                .ft-nav{
                    a{
                        margin-right: 1.4vw;
                    }
                }
                .sns-wrap{
                    display: flex;
                    li{
                        margin: 0 0.5vw;
                        a{
                            img{
                                width: 33px;
                            }
                        }
                    }
                }
            }
        }
        .footer-info{
            ul{
                padding: 14px 0 70px 0;
                .sit-map{
                    display: flex;
                    justify-content: flex-end;
                }
                li{
                    p{
                        text-align: end;
                        color: #999999;
                    }
                }
            }
        }
    }
}